<%=render 'shared/headerslide'%>
<body>
  <div class="wrapper">
    <h1>Easy Responsive CSS Grid Layout, Version 2: Using box-sizing</h1>
    <h2>Search amongst 560,500 products</h2>
    <h2>Web directory guide users to a list of websites appropriating layers of categories and subcategories that users can then select to finally find a list of all relevant websites.</h2>
    <%=render 'shared/search'%>


    <div class="row clearfix">
      <div class="col-1-2">
        <h2>1/2</h2>
        <%=render 'shared/accord'%>
      </div>
      <div class="col-1-2">
        <h2>1/2</h2>
        <%=render 'shared/accord1'%>
      </div>
    </div>

    <div class="row clearfix">
      <div class="col-1-4">
        <h2>1/4</h2>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid cum quasi nulla molestias accusamus aspernatur reiciendis qui optio tenetur modi repellendus distinctio dolore nesciunt. Repellat provident explicabo accusamus autem perspiciatis.
      </div>
      <div class="col-1-4">
        <h2>1/4</h2>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid cum quasi nulla molestias accusamus aspernatur reiciendis qui optio tenetur modi repellendus distinctio dolore nesciunt. Repellat provident explicabo accusamus autem perspiciatis.
      </div>
      <div class="col-1-4">
        <h2>1/4</h2>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid cum quasi nulla molestias accusamus aspernatur reiciendis qui optio tenetur modi repellendus distinctio dolore nesciunt. Repellat provident explicabo accusamus autem perspiciatis.
      </div>
      <div class="col-1-4">
        <h2>1/4</h2>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid cum quasi nulla molestias accusamus aspernatur reiciendis qui optio tenetur modi repellendus distinctio dolore nesciunt. Repellat provident explicabo accusamus autem perspiciatis.
      </div>
    </div>

     <div class="col-1f">
        <h2>1/2</h2>

        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid cum quasi nulla molestias accusamus aspernatur reiciendis qui optio tenetur modi repellendus distinctio dolore nesciunt. Repellat provident explicabo accusamus autem perspiciatis.

    </div>
  </div><!-- /.wrapper -->

</body>
<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
<footer><%=render 'shared/footer'%></footer>
